package {{.PackageName}}

import (
	"github.com/gin-gonic/gin"
	api "github.com/wangxin5355/vol-gin-admin-api/api/v1"
)

type {{.StructName}}Router struct{}

var {{.StructName}}Api = api.ApiGroupApp.{{.StructName}}ApiGroup.{{.StructName}}Api

func (s *{{.StructName}}Router) Init{{.StructName}}Router(Router *gin.RouterGroup) (R gin.IRoutes) {
	baseRouter := Router.Group("{{.TableName}}")
	{
		baseRouter.POST("GetPageData", {{.StructName}}Api.GetPageData)
		baseRouter.POST("Add", {{.StructName}}Api.Add)
		baseRouter.POST("Update", {{.StructName}}Api.Update)
		baseRouter.POST("Del", {{.StructName}}Api.Del)
	}
	return baseRouter
}
