package {{.PackageName}}

import (
	"context"

	"github.com/wangxin5355/vol-gin-admin-api/core/initialize"

	"github.com/wangxin5355/vol-gin-admin-api/core/base"
	"github.com/wangxin5355/vol-gin-admin-api/model/{{.PackageName}}"
	"github.com/wangxin5355/vol-gin-admin-api/model/{{.PackageName}}/partial"
)
func New{{.StructName}}Service() *{{.StructName}}Service {
	return &{{.StructName}}Service{
		BaseService: base.NewBaseService[partial.{{.StructName}}Entity, {{.PackageName}}.{{.StructName}}](string(initialize.DbGin)),
	}
}

// {{.StructName}}Service 继承 BaseService[{{.StructName}}]
type {{.StructName}}Service struct {
	*base.BaseService[partial.{{.StructName}}Entity, {{.PackageName}}.{{.StructName}}]
}